@page
@model iTech.Pages.TemplateTestModel
@{
	Layout = "Shared/Public/_PublicLayout.cshtml";
	var locale = Request.HttpContext.Features.Get<IRequestCultureFeature>();
	var BrowserCulture = locale.RequestCulture.UICulture.ToString();
}
<style>
	.template-title {
		display: block;
		text-align: center;
	}
</style>
<div role="main" class="main">

@* 	<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md ">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col">
					<div class="row">
						<div class="col-md-12 align-self-center p-static order-2 text-center">
							<div class="overflow-hidden pb-2">
								<h1 class="text-dark font-weight-bold text-9 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="100">Sticky Sidebar</h2>
							</div>
						</div>
						<div class="col-md-12 align-self-center order-1">
							<ul class="breadcrumb d-block text-center appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">
								<li><a href="#">Home</a></li>
								<li><a href="#">Portfolio</a></li>
								<li class="active">Sidebar</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
 *@
	<section class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7" style="background-image: url(public/img/page-header/page-header-services.jpg);">
		<div class="container">
			<div class="row mt-5">
				<div class="col-md-12 align-self-center p-static order-2 text-center">
					<h1 class="text-10"><strong>@sharedResource["Templates"]</strong></h1>
				</div>
				<div class="col-md-12 align-self-center order-1">
					<ul class="breadcrumb breadcrumb-light d-block text-center">
						<li><a href="/Index">@sharedResource["Home"]</a></li>
						<li class="active">@sharedResource["Templates"]</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section id="demos" class="section section-no-border section-light position-relative z-index-3 pt-0 m-0">
		<div class="row mt-3 pt-2">

			<div class="col-lg-3  container-fluid position-relative">
				<div class="pin-wrapper" style="height: 1102.6px;">
					<aside class="sidebar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
						<h5 class="font-weight-semi-bold">@sharedResource["Filter By"]</h5>
						<ul class="nav nav-list flex-column sort-source mb-5" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
							<li class="nav-item" data-option-value="*"><a class="nav-link active" href="#">@sharedResource["Show All"]</a></li>
							@{
								foreach (var cat in Model.siteCategories)
								{
									if (Model.BrowserCulture == "en-US")
									{
										<li class="nav-item" data-option-value=".@cat.SiteCategoryId"><a class="nav-link" href="#">@cat.TitleEn</a></li>
									}
									else
									{
										<li class="nav-item" data-option-value=".@cat.SiteCategoryId"><a class="nav-link" href="#">@cat.TitleAr</a></li>

									}
								}
							}
						</ul>
					</aside>
				</div>
			</div>











			
			<div class="col-lg-9">
			<div class="row portfolio-list sort-destination sort-destination-margin sort-destination-items-hardware-acc overflow-visible mt-4" data-sort-id="portfolio" data-filter="*" style="position: relative; height: 10022.8px;">


				<div class="col-sm-6 col-md-4 col-lg-4 isotope-item classic" data-sort-search="classic" style="position: absolute; left: 0px; top: 0px;">
					<div class="appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750" style="animation-delay: 200ms;">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-classic.jpg);">
									<a href="index-classic.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Classic</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-4 isotope-item business" data-sort-search="business consulting 3" style="position: absolute; left: 363.013px; top: 0px;">
					<div class="appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750" style="animation-delay: 200ms;">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-business-consulting-3.jpg);">
									<a href="demo-business-consulting-3.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Business Consulting 3</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-4 isotope-item business" data-sort-search="auto services" style="position: absolute; left: 726.026px; top: 0px;">
					<div class="appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750" style="animation-delay: 200ms;">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-auto-services.jpg);">
									<a href="demo-auto-services.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Auto Services</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-4 isotope-item business" data-sort-search="startup agency" style="position: absolute; left: 0px; top: 313.087px;">
					<div class="appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750" style="animation-delay: 200ms;">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-startup-agency.jpg);">
									<a href="demo-startup-agency.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Startup Agency</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-4 isotope-item portfolio" data-sort-search="creative agency" style="position: absolute; left: 363.013px; top: 313.087px;">
					<div class="appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750" style="animation-delay: 200ms;">
						<div class="portfolio-item hover-effect-1 text-center ">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-creative-agency-1.jpg);">
									<a href="demo-creative-agency-1.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Creative Agency 1</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item portfolio new" data-sort-search="creative agency" style="position: absolute; left: 726.026px; top: 313.087px;">
					<div class="appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750" style="animation-delay: 200ms;">
						<div class="portfolio-item hover-effect-1 text-center portfolio-item-new">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-creative-agency-2.jpg);">
									<a href="demo-creative-agency-2.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Creative Agency 2</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="construction" style="position: absolute; left: 0px; top: 626.174px;">
					<div class="appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750" style="animation-delay: 200ms;">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-construction.jpg);">
									<a href="demo-construction.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Construction</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="construction 2" style="position: absolute; left: 363.013px; top: 626.174px;">
					<div class="appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750" style="animation-delay: 200ms;">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-construction-2.jpg);">
									<a href="demo-construction-2.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Construction 2</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item portfolio" data-sort-search="personal portfolio" style="position: absolute; left: 726.026px; top: 626.174px;">
					<div class="appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750" style="animation-delay: 200ms;">
						<div class="portfolio-item hover-effect-1 text-center ">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-personal-portfolio-1.jpg);">
									<a href="demo-personal-portfolio-1.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Personal Portfolio 1</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item portfolio" data-sort-search="personal portfolio" style="position: absolute; left: 0px; top: 939.261px;">
					<div class="appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750" style="animation-delay: 200ms;">
						<div class="portfolio-item hover-effect-1 text-center ">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-personal-portfolio-2.jpg);">
									<a href="demo-personal-portfolio-2.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Personal Portfolio 2</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item portfolio" data-sort-search="personal portfolio" style="position: absolute; left: 363.013px; top: 939.261px;">
					<div class="appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750" style="animation-delay: 200ms;">
						<div class="portfolio-item hover-effect-1 text-center ">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-personal-portfolio-3.jpg);">
									<a href="demo-personal-portfolio-3.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Personal Portfolio 3</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="seo 2" style="position: absolute; left: 726.026px; top: 939.261px;">
					<div class="appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750" style="animation-delay: 200ms;">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-seo-2.jpg);">
									<a href="demo-seo-2.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">SEO 2</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="seo 3" style="position: absolute; left: 0px; top: 1252.35px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-seo-3.jpg);">
									<a href="demo-seo-3.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">SEO 3</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="architecture 2" style="position: absolute; left: 363.013px; top: 1252.35px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-architecture-2.jpg);">
									<a href="demo-architecture-2.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Architecture 2</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="cleaning services" style="position: absolute; left: 726.026px; top: 1252.35px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-cleaning-services.jpg);">
									<a href="demo-cleaning-services.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Cleaning Services</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="insurance" style="position: absolute; left: 0px; top: 1565.43px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-insurance.jpg);">
									<a href="demo-insurance.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Insurance</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="business consulting 4" style="position: absolute; left: 363.013px; top: 1565.43px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-business-consulting-4.jpg);">
									<a href="demo-business-consulting-4.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Business Consulting 4</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="business consulting 5" style="position: absolute; left: 726.026px; top: 1565.43px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-business-consulting-5.jpg);">
									<a href="demo-business-consulting-5.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Business Consulting 5</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="transportation logistic" style="position: absolute; left: 0px; top: 1878.52px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-transportation-logistic.jpg);">
									<a href="demo-transportation-logistic.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Transportation &amp; Logistic</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="renewable energy" style="position: absolute; left: 363.013px; top: 1878.52px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-renewable-energy.jpg);">
									<a href="demo-renewable-energy.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Renewable Energy</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="industry factory" style="position: absolute; left: 726.026px; top: 1878.52px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-industry-factory.jpg);">
									<a href="demo-industry-factory.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Industry Factory</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="law firm 2" style="position: absolute; left: 0px; top: 2191.61px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-law-firm-2.jpg);">
									<a href="demo-law-firm-2.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Law Firm 2</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="business consulting" style="position: absolute; left: 363.013px; top: 2191.61px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-business-consulting.jpg);">
									<a href="demo-business-consulting.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Business Consulting</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="business consulting 2" style="position: absolute; left: 726.026px; top: 2191.61px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-business-consulting-2.jpg);">
									<a href="demo-business-consulting-2.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Business Consulting 2</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="medical" style="position: absolute; left: 0px; top: 2504.7px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-medical.jpg);">
									<a href="demo-medical.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Medical</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="medical 2" style="position: absolute; left: 363.013px; top: 2504.7px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-medical-2.jpg);">
									<a href="demo-medical-2.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Medical 2</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="dentist" style="position: absolute; left: 726.026px; top: 2504.7px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-dentist.jpg);">
									<a href="demo-dentist.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Dentist</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="finance" style="position: absolute; left: 0px; top: 2817.78px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-finance.jpg);">
									<a href="demo-finance.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Finance</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="seo" style="position: absolute; left: 363.013px; top: 2817.78px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-seo.jpg);">
									<a href="demo-seo.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">SEO</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="it services" style="position: absolute; left: 726.026px; top: 2817.78px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-it-services.jpg);">
									<a href="demo-it-services.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">IT Services</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item shop" data-sort-search="product landing" style="position: absolute; left: 0px; top: 3130.87px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-product-landing.jpg);">
									<a href="demo-product-landing.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Product Landing</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="coffee shop" style="position: absolute; left: 363.013px; top: 3130.87px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-coffee.jpg);">
									<a href="demo-coffee.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Coffee Shop</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="sass" style="position: absolute; left: 726.026px; top: 3130.87px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-sass.jpg);">
									<a href="demo-sass.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">SASS</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="architecture interior design" style="position: absolute; left: 0px; top: 3443.96px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-architecture-interior.jpg);">
									<a href="demo-architecture-interior.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Architecture &amp; Interior Design</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="beauty salon" style="position: absolute; left: 363.013px; top: 3443.96px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-beauty-salon.jpg);">
									<a href="demo-beauty-salon.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Beauty Salon</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="barber shop" style="position: absolute; left: 726.026px; top: 3443.96px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-barber.jpg);">
									<a href="demo-barber.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Barber Shop</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="education" style="position: absolute; left: 0px; top: 3757.04px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-education.jpg);">
									<a href="demo-education.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Education</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="digital agency" style="position: absolute; left: 363.013px; top: 3757.04px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-digital-agency.jpg);">
									<a href="demo-digital-agency.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Digital Agency</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="digital agency 2 light" style="position: absolute; left: 726.026px; top: 3757.04px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-digital-agency-2.jpg);">
									<a href="demo-digital-agency-2.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Digital Agency 2 (Light)</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="digital agency 2 dark" style="position: absolute; left: 0px; top: 4070.13px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-digital-agency-2-dark.jpg);">
									<a href="demo-digital-agency-2-dark.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Digital Agency 2 (Dark)</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="app landing" style="position: absolute; left: 363.013px; top: 4070.13px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-app-landing.jpg);">
									<a href="demo-app-landing.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">App Landing</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="law firm" style="position: absolute; left: 726.026px; top: 4070.13px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-law-firm.jpg);">
									<a href="demo-law-firm.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Law Firm</h5>
						</div>
					</div>
				</div>





				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item portfolio creative z-index-1" style="position: absolute; left: 0px; top: 4383.22px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">

							<div class="owl-carousel nav-dark show-nav-hover" data-plugin-options="{'items': 1, 'loop': true, 'nav': true, 'dots': false, 'autoplay': true, 'autoplayTimeout': 3000, 'autoplayHoverPause': true}">
								<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
									<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link lazyload m-0" data-bg-src="img/previews/preview-resume.jpg">
										<a href="demo-resume.html" target="_blank"></a>
									</span>
								</span>

								<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
									<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link lazyload m-0" data-bg-src="img/previews/preview-resume-blue.jpg">
										<a href="demo-resume-blue.html"></a>
									</span>
								</span>

								<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
									<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link lazyload m-0" data-bg-src="img/previews/preview-resume-red.jpg">
										<a href="demo-resume-red.html"></a>
									</span>
								</span>

								<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
									<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link lazyload m-0" data-bg-src="img/previews/preview-resume-green.jpg">
										<a href="demo-resume-green.html"></a>
									</span>
								</span>

								<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
									<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link lazyload m-0" data-bg-src="img/previews/preview-resume-dark.jpg">
										<a href="demo-resume-dark.html"></a>
									</span>
								</span>

							</div>

							<h5 class="text-color-dark text-capitalize mt-3">CV - Portfolio - Resume</h5>
						</div>
					</div>
				</div>



				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="hotel" style="position: absolute; left: 363.013px; top: 4383.22px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-hotel.jpg);">
									<a href="demo-hotel.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Hotel</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="hotel" style="position: absolute; left: 726.026px; top: 4383.22px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-hotel-boxed.jpg);">
									<a href="demo-hotel-boxed.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Hotel (Boxed)</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="real estate" style="position: absolute; left: 0px; top: 4700.31px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-real-estate.jpg);">
									<a href="demo-real-estate.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Real Estate</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item creative business" data-sort-search="event" style="position: absolute; left: 363.013px; top: 4700.31px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-event.jpg);">
									<a href="demo-event.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Event</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="restaurant" style="position: absolute; left: 726.026px; top: 4700.31px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-restaurant.jpg);">
									<a href="demo-restaurant.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Restaurant</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="gym" style="position: absolute; left: 0px; top: 5013.39px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-gym.jpg);">
									<a href="demo-gym.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Gym</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item onepage creative business" data-sort-search="band" style="position: absolute; left: 363.013px; top: 5013.39px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-band.jpg);">
									<a href="demo-band.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Band</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item onepage creative" data-sort-search="one page agency" style="position: absolute; left: 726.026px; top: 5013.39px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-one-page-agency.jpg);">
									<a href="demo-one-page-agency.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">One Page Agency</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item portfolio" data-sort-search="photography" style="position: absolute; left: 0px; top: 5326.48px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-photography.jpg);">
									<a href="demo-photography.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Photography</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item portfolio" data-sort-search="photography 2" style="position: absolute; left: 363.013px; top: 5326.48px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-photography-2.jpg);">
									<a href="demo-photography-2.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Photography 2</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item portfolio" data-sort-search="photography 3" style="position: absolute; left: 726.026px; top: 5326.48px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-photography-3.jpg);">
									<a href="demo-photography-3.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Photography 3</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="church" style="position: absolute; left: 0px; top: 5639.57px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-church.jpg);">
									<a href="demo-church.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Church</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="wedding" style="position: absolute; left: 363.013px; top: 5639.57px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-wedding.jpg);">
									<a href="demo-wedding.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Wedding</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item onepage" data-sort-search="one page" style="position: absolute; left: 726.026px; top: 5639.57px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-one-page.jpg);">
									<a href="index-one-page.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">One Page</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="corporate 1" style="position: absolute; left: 0px; top: 5952.65px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-corporate.jpg);">
									<a href="index-corporate.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Corporate 1</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="corporate 2" style="position: absolute; left: 363.013px; top: 5952.65px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-corporate-2.jpg);">
									<a href="index-corporate-2.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Corporate 2</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="corporate 3" style="position: absolute; left: 726.026px; top: 5952.65px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-corporate-3.jpg);">
									<a href="index-corporate-3.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Corporate 3</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="corporate 4" style="position: absolute; left: 0px; top: 6265.74px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-corporate-4.jpg);">
									<a href="index-corporate-4.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Corporate 4</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="corporate 5" style="position: absolute; left: 363.013px; top: 6265.74px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-corporate-5.jpg);">
									<a href="index-corporate-5.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Corporate 5</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="corporate 6" style="position: absolute; left: 726.026px; top: 6265.74px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-corporate-6.jpg);">
									<a href="index-corporate-6.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Corporate 6</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="corporate 7" style="position: absolute; left: 0px; top: 6578.83px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-corporate-7.jpg);">
									<a href="index-corporate-7.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Corporate 7</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="corporate 8" style="position: absolute; left: 363.013px; top: 6578.83px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-corporate-8.jpg);">
									<a href="index-corporate-8.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Corporate 8</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="corporate 9" style="position: absolute; left: 726.026px; top: 6578.83px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-corporate-9.jpg);">
									<a href="index-corporate-9.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Corporate 9</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="corporate 10" style="position: absolute; left: 0px; top: 6891.91px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-corporate-10.jpg);">
									<a href="index-corporate-10.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Corporate 10</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="corporate 11" style="position: absolute; left: 363.013px; top: 6891.91px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-corporate-11.jpg);">
									<a href="index-corporate-11.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Corporate 11</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="corporate 12" style="position: absolute; left: 726.026px; top: 6891.91px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-corporate-12.jpg);">
									<a href="index-corporate-12.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Corporate 12</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="corporate 13" style="position: absolute; left: 0px; top: 7205px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-corporate-13.jpg);">
									<a href="index-corporate-13.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Corporate 13</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="corporate 14" style="position: absolute; left: 363.013px; top: 7205px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-corporate-14.jpg);">
									<a href="index-corporate-14.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Corporate 14</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="corporate 15" style="position: absolute; left: 726.026px; top: 7205px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-corporate-15.jpg);">
									<a href="index-corporate-15.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Corporate 15</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="corporate 16" style="position: absolute; left: 0px; top: 7518.09px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-corporate-16.jpg);">
									<a href="index-corporate-16.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Corporate 16</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="corporate 17" style="position: absolute; left: 363.013px; top: 7518.09px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-corporate-17.jpg);">
									<a href="index-corporate-17.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Corporate 17</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="corporate 18" style="position: absolute; left: 726.026px; top: 7518.09px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-corporate-18.jpg);">
									<a href="index-corporate-18.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Corporate 18</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="corporate 19" style="position: absolute; left: 0px; top: 7831.17px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-corporate-19.jpg);">
									<a href="index-corporate-19.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Corporate 19</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="corporate 20" style="position: absolute; left: 363.013px; top: 7831.17px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-corporate-20.jpg);">
									<a href="index-corporate-20.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Corporate 20</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="corporate 21" style="position: absolute; left: 726.026px; top: 7831.17px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-corporate-21.jpg);">
									<a href="index-corporate-21.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Corporate 21</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item portfolio" data-sort-search="portfolio 1" style="position: absolute; left: 0px; top: 8144.26px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-portfolio.jpg);">
									<a href="index-portfolio.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Portfolio 1</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item portfolio" data-sort-search="portfolio 2" style="position: absolute; left: 363.013px; top: 8144.26px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-portfolio-2.jpg);">
									<a href="index-portfolio-2.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Portfolio 2</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item portfolio" data-sort-search="portfolio 3" style="position: absolute; left: 726.026px; top: 8144.26px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-portfolio-3.jpg);">
									<a href="index-portfolio-3.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Portfolio 3</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item portfolio" data-sort-search="portfolio 4" style="position: absolute; left: 0px; top: 8457.35px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-portfolio-4.jpg);">
									<a href="index-portfolio-4.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Portfolio 4</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item portfolio" data-sort-search="portfolio 5" style="position: absolute; left: 363.013px; top: 8457.35px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-portfolio-5.jpg);">
									<a href="index-portfolio-5.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Portfolio 5</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item blog" data-sort-search="blog 1" style="position: absolute; left: 726.026px; top: 8457.35px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-blog.jpg);">
									<a href="index-blog.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Blog 1</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item blog" data-sort-search="blog 2" style="position: absolute; left: 0px; top: 8770.44px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-blog-2.jpg);">
									<a href="index-blog-2.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Blog 2</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item blog" data-sort-search="blog 3" style="position: absolute; left: 363.013px; top: 8770.44px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-blog-3.jpg);">
									<a href="index-blog-3.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Blog 3</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item blog" data-sort-search="blog 4" style="position: absolute; left: 726.026px; top: 8770.44px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-blog-4.jpg);">
									<a href="index-blog-4.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Blog 4</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item blog" data-sort-search="blog 5" style="position: absolute; left: 0px; top: 9083.52px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-blog-5.jpg);">
									<a href="index-blog-5.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Blog 5</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item business" data-sort-search="hosting" style="position: absolute; left: 363.013px; top: 9083.52px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-corporate-hosting.jpg);">
									<a href="index-corporate-hosting.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Hosting</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item classic" data-sort-search="classic color" style="position: absolute; left: 726.026px; top: 9083.52px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-classic-color.jpg);">
									<a href="index-classic-color.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Classic Color</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item classic" data-sort-search="classic light" style="position: absolute; left: 0px; top: 9396.61px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-classic-light.jpg);">
									<a href="index-classic-light.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Classic Light</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item classic" data-sort-search="classic video" style="position: absolute; left: 363.013px; top: 9396.61px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-classic-video.jpg);">
									<a href="index-classic-video.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Classic Video</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item classic" data-sort-search="classic video light" style="position: absolute; left: 726.026px; top: 9396.61px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-classic-video-light.jpg);">
									<a href="index-classic-video-light.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Classic Video Light</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item classic" data-sort-search="boxed" style="position: absolute; left: 0px; top: 9709.7px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-boxed.jpg);">
									<a href="feature-layout-boxed.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">Boxed</h5>
						</div>
					</div>
				</div>




				<div class="col-sm-6 col-md-4 col-lg-3 isotope-item classic" data-sort-search="rtl" style="position: absolute; left: 363.013px; top: 9709.7px;">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
						<div class="portfolio-item hover-effect-1 text-center">
							<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
								<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(img/previews/preview-rtl.jpg);">
									<a href="feature-layout-rtl.html" target="_blank"></a>
								</span>
							</span>
							<h5 class="text-color-dark text-capitalize mt-3">RTL</h5>
						</div>
					</div>
				</div>



			</div>
			</div>
		</div>
	</section>
</div>