@page
@model iTech.Pages.TemplateModel
@{
    ViewData["Title"] = "Templates";
    var locale = Request.HttpContext.Features.Get<IRequestCultureFeature>();
    var BrowserCulture = locale.RequestCulture.UICulture.ToString();
    Layout = "Shared/Public/_PublicLayout.cshtml";

}

<style>
	.template-title {
		display: block;
		text-align: center;
	}
</style>
<div role="main" class="main">

	<section class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7" style="background-image: url(public/img/page-header/page-header-services.jpg);">
		<div class="container">
			<div class="row mt-5">
				<div class="col-md-12 align-self-center p-static order-2 text-center">
					<h1 class="text-10"><strong>@sharedResource["Templates"]</strong></h1>
				</div>
				<div class="col-md-12 align-self-center order-1">
					<ul class="breadcrumb breadcrumb-light d-block text-center">
						<li><a href="/Index">@sharedResource["Home"]</a></li>
						<li class="active">@sharedResource["Templates"]</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section id="demos" class="section section-no-border section-light position-relative z-index-3 pt-0 m-0" style="
    padding-left: 3rem;
    padding-right: 3rem;
">

		<div class="row mt-3 pt-2">
			<div class="col-lg-3 position-relative">
				<div class="pin-wrapper" style="height: 1102.6px;">
				<aside class="sidebar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">			
					<h5 class="font-weight-semi-bold">@sharedResource["Filter By"]</h5>		
					<ul class="nav nav-list flex-column sort-source mb-5" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
							<li class="nav-item" data-option-value="*"><a class="nav-link active" href="#">@sharedResource["Show All"]</a></li>
						@{
							foreach (var cat in Model.siteCategories)
							{
								if (Model.BrowserCulture == "en-US")
								{
										<li class="nav-item" data-option-value=".@cat.SiteCategoryId"><a class="nav-link" style="font-size:1.15em!important;" href="#">@cat.TitleEn</a></li>
								}
								else
								{
										<li class="nav-item" data-option-value=".@cat.SiteCategoryId"><a class="nav-link" style="font-size:1.15em!important;" href="#">@cat.TitleAr</a></li>

								}
							}
						}
					</ul>	
				</aside>
		</div>
			</div>
			<div class="col-lg-9">

				<div class="sort-destination-loader sort-destination-loader-showing">
					<div class="row portfolio-list sort-destination" data-sort-id="portfolio">
						@{
							if (Model.Templates != null)
							{
								foreach (var item in Model.Templates)
								{
									<div class="col-sm-6 col-md-4 col-lg-4 isotope-item @item.SiteCategoryId" data-sort-search="classic" style="position: absolute; left: 0px; top: 0px;">
										<div class="appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750" style="animation-delay: 200ms;">
											<div class="portfolio-item hover-effect-1 text-center">
												<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
													<span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link m-0" style="background-image: url(@item.TemplatePic);">
														<a href="/preview/@item.TemplateName/index.html" target="_blank"></a>
													</span>

													<span class="thumb-info-title">
														@{
															if (@item.TemplatePrice == 0)
															{
																<span class="thumb-info-inner">@sharedResource["Free"]</span>
															}
															else
															{
																@if (Model.BrowserCulture == "en-US")
																{
																	<span class="thumb-info-inner">@item.TemplatePrice KD</span>


																}
																//Arabic
																else
																{
																	<span class="thumb-info-inner">@item.TemplatePrice دينار</span>


																}

															}
														}


														<a target="_blank" asp-page="UserSiteName" asp-route-Id="@item.TemplateId" asp-route-planId="@Model.planPriceId">
															<span class="thumb-info-type" style="background-color:#08c!important;color:white!important">@sharedResource["Choose"]</span>
														</a>

													</span>

													<a href="/preview/@item.TemplateName/index.html" target="_blank">
														<span class="thumb-info-action">
															<span class="thumb-info-action-icon bg-dark opacity-8"><i class="fa-solid fa-eye"></i></span>
														</span>
													</a>



												</span>

												<span class="thumb-info-action" style="justify-content:center;align-items:center;">
													@{
														if (BrowserCulture == "en-US")
														{
															<h4 class="text-color-dark text-capitalize mt-3">@item.TitleEn</h4>

														}
														else
														{
															<h4 class="text-color-dark text-capitalize mt-3">@item.TitleAr</h4>

														}
													}
												</span>

												
											</div>
										</div>
									</div>

								}
							}
							}
						

					</div>
				</div>

			</div>
		</div>
</section>
	</div>

